<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="card">
    <legend><span>Feb 1,2015 - May 31,2015</span></legend>
    <div class="card-header">
      <h3>Color of the Month_Branded Video Interstitials_February</h3>
      <small class="muted-text">Instant Native</small>
    </div>
    <div class="card-body">
      <div>
        <p>2,000,000 <span class="muted-text">lpms</span> <small> (1,500,000 <span class="muted-text">General</span> 500,000 <span class="muted-text">Carve</span>)</small></p>
      </div>
      <div><p>$1.00 <span class="muted-text">CPM</span></p></div>
      <div>
        <p>$2,000,000 <span class="muted-text">Spend</span> <fa-icon class="undo-i" [icon]="faUndoAlt"></fa-icon></p>
      </div>
      <fa-icon class="down-i" [icon]="faAngleDown"></fa-icon>
    </div>
  </div>
</div>
